<section>
  <footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
      <p class="lead">&copy 2021 Cristian Dery Limachi Martinez</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1"></i>
      </a>
    </div>
  </footer>
</section>