<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Descubre las obras de Arte<span class="text-success"> mas increíbles del mundo</span></h1>
                <p class="lead my-4">
                    A lo largo de la historia, famosos artistas nos han dejado obras hermosas y enigmáticas y, en la
                    actualidad,
                    representa un reto para todos nosotros descubrir los misterios ocultos en cada una de ellas.
                </p>
                <p>Descubre algunos increíbles secretos que seguro no conocías y que harán que tu interés por el
                    arte
                    aumente... </p>
                <button class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                    <a href="#" class="btn btn-light"><i class="bi bi-chevron-right"></i> Ver el catalogo</a>
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="assets/image/undraw_thought_process_67my.svg" alt="" />
        </div>
    </div>
</section>

<section>
    <div class="position-relative">
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
                    style="stroke: none; fill: #212529;"></path>
            </svg></div>
    </div>
    <div class="d-flex h-100">
        <div class="container align-self-center p-container-m">
            <div class="row mt-5">
                <div class="col-lg-6 d-flex">
                    <div class="content mx-auto px-4 my-5 align-self-center">
                        <img src="assets/image/undraw_art_lover_yjfr.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 d-flex">
                    <div class="align-self-center my-5 px-4">
                        <h1 class="display-4 fw-bold mb-5">Conoce las diferentes diciplinas artisticas que existen
                        </h1>
                        <ul class="list-unstyled">
                            <li class="d-flex mb-4">
                                <p class="text-dark lead fw-bold list-subject">1</p>
                                <div class="ms-3">
                                    <p class="lead fw-bold">Artes visuales</p>
                                    <p>Estas se definen como las expresiones atisticas que pueden ser apreciadas a
                                        traves del sentido de
                                        la vista.
                                        Algunas de ellas son las siguientes: Arquitectura, Dibujo, Escultura,
                                        Fotografia, Pintura, etc.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex mb-4">
                                <p class="text-dark lead fw-bold list-subject">2</p>
                                <div class="ms-3">
                                    <p class="lead fw-bold">Artes escénicas</p>
                                    <p>Se practican en un espacio escénico a través del movimiento del cuerpo.
                                        El cuerpo de los artistas toma, por el tiempo que dura la actuación, un rol
                                        ajeno al que tiene por
                                        sí mismo.
                                        Las mas destacadas son: Danza, Teatro.</p>
                                </div>
                            </li>
                            <li class="d-flex mb-4">
                                <p class="text-dark lead fw-bold list-subject">3</p>
                                <div class="ms-3">
                                    <p class="lead fw-bold">Artes Musicales</p>
                                    <p>consiste en en organizar de manera sensible y logica, una delicada
                                        combinacion de sonidos y
                                        silencios que mantenga una coherencia.
                                        Algunas de estas son: Canto, Musica. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="learn" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>¡Encuentra tu obra de Arte!</h2>
                <p class="lead">
                    Un obra depende de escenas ya sean de ambiente natural o
                    rural porque puede llegar a ser una composición artística que
                    genera condiciones únicas en elementos específicos de la pintura.
                </p>
                <p>
                    La clasificación utilizada en la Grecia antigua incluía seis disciplinas
                    dentro del arte: Artes Visuales, Artes Escenicas, Artes Musicales, la escultura, la
                    pintura y la poesía
                </p>
                <a href="#" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i> Ver el catalogo</a>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="assets/image/undraw_artist_b4rc.svg" alt="" />
        </div>
    </div>
</section>

<section class="d-flex py-5 mb-5 bg-section-2">
    <div class="container align-self-center">
        <h2 class="display-4 py-4">Arte hiperrealista</h2>
        <p class="lead mb-5">El clima, la atmósfera pura trazada en vistas naturales, en donde el color y la
            fidelidad de
            la
            naturaleza se reflejan en cada obra pintada</p>

        <div class="row publications">
            <div class="col-lg-4 py-4">
                <a href="#" class="text-decoration-none">
                    <img src="assets/image/licensed-image.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-0 text-center">Leonardo da Vinci</p>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 text-center">Leonardo da Vinci fue un polímata florentino
                        del
                        Renacimiento italiano.
                        Fue a la vez pintor, anatomista,</p>
                    <p class="text-dark fw-bold text-center">Ver catalogo de este autor<i
                            class="fas fa-arrow-right ms-2"></i>
                    </p>
                </a>
            </div>
            <div class="col-lg-4 py-4">
                <a href="#" class="text-decoration-none">
                    <img src="assets/image/1200px-Theodor_Kittelsen_-_Self-Portrait_-_Google_Art_Project.jpg" alt=""
                        class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-0 text-center">Theodore-Kittlesen</p>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 text-center">Theodor Severin Kittelsen fue un artista
                        noruego. Es uno
                        de los artistas más populares en Noruega.</p>
                    <p class="text-dark fw-bold text-center">Ver catalogo de este autor<i
                            class="fas fa-arrow-right ms-2"></i>
                    </p>
                </a>
            </div>
            <div class="col-lg-4 py-4">
                <a href="#" class="text-decoration-none">
                    <img src="assets/image/Self_portrait,_by_William_Bouguereau.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-0 text-center">William-Adolphe Bouguereau</p>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 text-center">William-Adolphe Bouguereau fue un pintor
                        francés, uno de
                        los principales exponentes del academicismo.</p>
                    <p class="text-dark fw-bold text-center">Ver catalogo de este autor<i
                            class="fas fa-arrow-right ms-2"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Registrate a este sitio web</h3>

            <div class="input-group news-input">
                <input type="text" class="form-control" placeholder="Correo electronico" />
                <button class="btn btn-dark btn-lg" type="button">Ingresar</button>
            </div>
        </div>
    </div>
</section>

<section class="d-flex pt-5 pb-5 h-100">
    <div class="container align-self-center p-container-m">
        <div class="row mb-3">
            <div class="col-lg-3 col-sm-6 my-4 my-text text-center">
                <h5 class="fw-bold mb-3">Sobre nosotros</h5>
                <ul class="list-unstyled">
                    <li class="mb-3"> <a href="" class="text-dark text-decoration-none">¿Quiénes somos?</a> </li>
                    <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Nuestros valores</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 my-4 my-text text-center">
                <h5 class="fw-bold mb-3">Asistencia</h5>
                <ul class="list-unstyled">
                    <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Centro de ayuda</a> </li>
                    <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Contacto</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 my-4 my-text text-center">
                <h5 class="fw-bold mb-3">Mas informacion</h5>
                <ul class="list-unstyled">
                    <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Privacidad</a> </li>
                    <li class="mb-3"> <a href="" class="text-dark text-decoration-none">Reclamaciones</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 my-4 my-text text-center">
                <h5 class="fw-bold mb-3">Siguenos</h5>
                <ul class="list-unstyled">
                    <li class="mb-3">Redes Sociales</li>
                    <li>
                        <ul class="list-inline">
                            <li class="list-inline-item me-3"><a href="" class="lead text-dark"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item me-3"><a href="" class="lead text-dark"><i
                                        class="fab fa-whatsapp"></i></a>
                            </li>
                            <li class="list-inline-item me-3"><a href="" class="lead text-dark"><i
                                        class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>