<nav class="navbar navbar-expand-lg navbar-light bg-light position-absolute w-100">
    <div class="container container-mobile">
      <a class="navbar-brand fw-bold text-success" href="#">Arte: Obras pictoricas, pintores</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex">
            <a class="nav-link text-dark align-self-center" aria-current="page" href="/dashboard/catalogo.html">Catalogo</a>
          </li>
          <li class="nav-item d-flex">
            <a class="nav-link text-dark align-self-center" aria-current="page" href="/dashboard/galeria.html">Obras de Arte</a>
          </li>
          <li class="nav-item d-flex">
            <a class="nav-link text-dark align-self-center" aria-current="page" href="/dashboard/noticias.html">Artistas</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light me-2" href="/authentication/register.html">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" routerLink="/auth/login">Iniciar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
