<img class="wave" src="/assets/image/Wave-100s-3000px.svg">
<div class="container">
    <div class="img">
        <img src="/assets/image/undraw_mobile_user_7oqo.svg">
    </div>
    <div class="login-content">
        <form action="/dashboard/layout.html">
            <img src="/assets/image/undraw_male_avatar_323b.svg">
            <h2 class="title">Bienvenido</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Nombre de Usuario</h5>
                    <input type="text" class="input" required>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contraseña</h5>
                    <input type="password" class="input" required>
                </div>
            </div>
            <a href="#">Olvidaste tu contraseña?</a>
            <input type="submit" class="btn" routerLink="/dashboard/home" value="Iniciar Sesion">
        </form>
    </div>
</div>