<div id="content">
    <header>
      <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-3 h2">Noticias Imprescindibles</h1>
        <p class="mb-3">Noticias de la Historia del Arte</p>
      </div>
    </header>
    <main class="my-5">
      <div class="container">
        <section class="border-bottom pb-4 mb-5">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="/assets/image/Julian_Ashton_-_Evening,_Merri_Creek_-_Google_Art_Project.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <span class="badge bg-dark px-2 py-1 shadow-1-strong mb-3">Noticias del dia</span>
              <h4><strong>Evening, Merri Creek - Julian Rossi Ashton 1882</strong></h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
              </p>
              <button type="button" class="btn btn-dark">Leer mas</button>
            </div>
          </div>
        </section>
        <section>
          <div class="row gx-lg-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div>
                <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                  data-mdb-ripple-color="light">
                  <img src="/assets/image/113.jpg" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="row mb-3">
                  <div class="col-6">
                    <a href="" class="text-info">
                      <i class="fas fa-landmark"></i>
                      Noticias de Historia
                    </a>
                  </div>

                  <div class="col-6 text-end">
                    <u> 15.07.2020</u>
                  </div>
                </div>
                <a href="" class="text-dark">
                  <h5>Este es el título de la noticia</h5>

                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                    id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                    adipisci iusto nam temporibus modi animi laboriosam?
                  </p>
                </a>

                <hr />
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/033.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Muere Ieoh Ming Pei, arquitecto que diseñó la pirámide del
                          Louvre</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/file-20190418-28084-1jb23ia.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>

                    <div class="col-9">
                      <p class="mb-2"><strong>Notre Dame, un sueño aún lejano</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/metro-nueva-york-portada.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Atentado a las Torres Gemelas: 20 años después</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/mapa_mundi_1630.jpg" class="img-fluid shadow-1-strong rounded"
                        alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Origen de la primera mapa del Mundo</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <div>
                <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
                  data-mdb-ripple-color="light">
                  <img src="/assets/image/Artistas_renacimiento.png" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="row mb-3">
                  <div class="col-6">
                    <a href="" class="text-danger">
                      <i class="fas fa-palette"></i>
                      Noticias de Artistas
                    </a>
                  </div>
                  <div class="col-6 text-end">
                    <u> 15.07.2021</u>
                  </div>
                </div>
                <a href="" class="text-dark">
                  <h5>Este es el título de la noticia</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                    id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                    adipisci iusto nam temporibus modi animi laboriosam?
                  </p>
                </a>
                <hr />
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/Peter_Paul_Rubens.jpg" class="img-fluid shadow-1-strong rounded"
                        alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Peter Paul Rubens</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/Claude Monet.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Claude Monet</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/Rembrandt.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Rembrandt</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/Vincent van Gogh.jpg" class="img-fluid shadow-1-strong rounded"
                        alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Vincent van Gogh</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <div>
                <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
                  data-mdb-ripple-color="light">
                  <img src="/assets/image/Rocky_mountain.png" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="row mb-3">
                  <div class="col-6">
                    <a href="" class="text-warning">
                      <i class="fas fa-paint-brush"></i>
                      Noticias de obras de Arte
                    </a>
                  </div>
                  <div class="col-6 text-end">
                    <u> 15.07.2021</u>
                  </div>
                </div>
                <a href="" class="text-dark">
                  <h5>Este es el título de la noticia</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                    id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                    adipisci iusto nam temporibus modi animi laboriosam?
                  </p>
                </a>
                <hr />
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/Meisje_met_de_parel.jpg" class="img-fluid shadow-1-strong rounded"
                        alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>La joven de la perla Pintura de Johannes Vermeer</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/The_Last_Supper_-_Leonardo_Da_Vinci_-_High_Resolution_32x16.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>La última cena (Leonardo da Vinci)</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img
                        src="/assets/image/el-fin-del-emperador-el-cadaver-de-napoleon-yace-en-su-lecho-en-santa-elena_ead166b7_1280x860.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>Conmemoran la muerte de Napoleon</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
                <a href="" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="/assets/image/Lady_with_an_Ermine_-_Leonardo_da_Vinci_(adjusted_levels).jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
                    <div class="col-9">
                      <p class="mb-2"><strong>La dama del armiño</strong></p>
                      <p>
                        <u> 15.07.2021</u>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
