<div id="content">
    <header>
      <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-3 h2">Los catálogos mas Imprescindibles</h1>
        <p class="mb-3">En ellos encontraras artistas fundamentales de la Historia del Arte</p>
      </div>
    </header>
    <main class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mb-4">
            <section>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                    <img src="/assets/image/DP102382.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                </div>

                <div class="col-md-8 mb-4">
                  <h5>Leonado Da Vinci</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
                    magni.
                  </p>

                  <button type="button" class="btn btn-dark">Catalogo completo</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                    <img src="/assets/image/William-Adolphe_Bouguereau_(1825-1905)_-_Elegy_(1899).jpg"
                      class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                </div>

                <div class="col-md-8 mb-4">
                  <h5>William Adolphe Bouguereau</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
                    magni.
                  </p>

                  <button type="button" class="btn btn-dark">Catalogo completo</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                    <img
                      src="/assets/image/Theodor_Kittelsen_-_The_Princess_picking_Lice_from_the_Troll_-_Google_Art_Project.jpg"
                      class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                </div>

                <div class="col-md-8 mb-4">
                  <h5>Theodor Kittelsen</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
                    magni.
                  </p>

                  <button type="button" class="btn btn-dark">Catalogo completo</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                    <img src="/assets/image/050976_couture_etude-de-jeune-fille.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-md-8 mb-4">
                  <h5>Thomas Couture</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
                    magni.
                  </p>
                  <button type="button" class="btn btn-dark">Catalogo completo</button>
                </div>
              </div>
            </section>
          </div>
          <div class="col-md-3 mb-4">
            <section class="sticky-top" style="top: 80px;">
              <section class="text-center border-bottom pb-4 mb-4">
                <div class="bg-image hover-overlay ripple mb-4">
                  <img src="/assets/image/800px-Leonardo_da_Vinci_-_presumed_self-portrait_-_WGA12798.jpg"
                    class="img-fluid" />
                  <a href="#">
                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                  </a>
                </div>
                <h5>Leonado Da Vinci</h5>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, porro.
                </p>
                <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                    class="fas fa-download ms-2"></i></a>
              </section>
              <section class="text-center border-bottom pb-4 mb-4">
                <div class="bg-image hover-overlay ripple mb-4">
                  <img src="/assets/image/William-Adolphne_Bouguereau_photo.jpg" class="img-fluid" />
                  <a href="#">
                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                  </a>
                </div>
                <h5>William Adolphe Bouguereau</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, doloribus.
                </p>
                <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                    class="fas fa-download ms-2"></i></a>
              </section>
              <section class="text-center border-bottom pb-4 mb-4">
                <div class="bg-image hover-overlay ripple mb-4">
                  <img src="/assets/image/theodor-kittelsen-painted.jpg" class="img-fluid" />
                  <a href="#/">
                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                  </a>
                </div>
                <h5>Theodor Kittelsen</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nobis.
                </p>
                <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                    class="fas fa-download ms-2"></i></a>
              </section>
            </section>
          </div>
        </div>
      </div>
    </main>
  </div>
