:root{
    --primary:#14746f;
    --bga1:#e1e5f2;
    --dark:#000;
    --ligth:#fff;
    --bgp1:#e1e5f2,
}

body{
    font-family: 'Charm', cursive;
}

.btn-primary{
    background-color: var(--primary);
    border-color:var(--primary);
}

.btn-primary{
    background-color: var(--primary);
    border-color:var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}

.navbar{
    min-height: 90px;
}

.navbar .btn{
    padding: .625rem 1.25rem;
}

.bg-primary{
    background-color: #343a40 !important;
}

.bg-color-p1{
    background-color: var(--bgp1) !important;
    border: 2px solid #ffffff;
}


.bg-section-2{
    background-image:url('/assets/images/Polygon\ Luminary.svg');
    background-repeat: no-repeat;background-size: cover;
}


.list-subject{
    position: relative;
    display: flex;
    justify-content: center;
}

.list-subject::after{
    content: '';
    border-right: 1px solid var(--dark);
    height: 60px;
    position: absolute;
    top:35px;
    opacity:.2
}


.info-content .btn{
    padding: .625rem 1.25rem;
}

.publications img{
    height: 75%;
    max-width: 100%;
    border-radius: 30px;
}


.section-600{
    height: 600px !important;
}

.mt-m5{
    margin-top: 5rem!important;
}

@media (max-width:1376px){
    .container-mobile{
        max-width: 95%;
    }
    
    .p-container-m {
        padding-top: 150px;
    }
    
    .content{
        margin-top: 1rem !important;
    }

    .content-img{
        margin-right: inherit !important;
    }

    .content h1{
        font-size: 2.5rem !important;
    }

    .content-img{
        width: 80%;
    }

    .content .mb-5{
        margin-bottom: 2rem !important;
    }
}

@media (max-width:992px){
    .navbar{
        position: relative !important;
    }

    section{
        height: unset;
    }

    .w-75{
        width: 100% !important;
    }
    .content{
        max-width: 100%;
    }
    .my-text{
        text-align: center !important;
    }
    .section-600 {
        margin-bottom: 25%;
    }
    
    html, body {
        overflow-x:hidden 
    } 
    .bg-section-1{
        background-image:initial
    }
    .bg-section-2{
        background-image:initial;
        background-repeat:initial;
    }
}


.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 0.5rem!important;
}


.mb-5 {
    margin-bottom: 0rem!important;
}


.lead {
    font-size: 1rem;
    font-weight: 300;
}