<div id="content">
    <section>
        <div class="container rounded bg-transparent ">
            <div class="row">
                <div class="col-md-3 border-right"></div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Editar Informacion</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Nombre</label><input type="text"
                                    class="form-control" value=""></div>
                            <div class="col-md-6"><label class="labels">Apellido</label><input type="text"
                                    class="form-control" value=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Numero de telefono</label><input
                                    type="text" class="form-control" value=""></div>
                            <div class="col-md-12"><label class="labels">Direccion </label><input
                                    type="text" class="form-control" value=""></div>
                            <div class="col-md-12"><label class="labels">pais</label><input type="text"
                                    class="form-control" value=""></div>
                            <div class="col-md-12"><label class="labels">Ciudad</label><input type="text"
                                    class="form-control" value=""></div>
                            <div class="col-md-12"><label class="labels">Correo electronico</label><input
                                    type="text" class="form-control" value=""></div>
                            <div class="col-md-12"><label class="labels">confirma tu Correo</label><input
                                    type="text" class="form-control" value="">
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Edad</label><input type="text"
                                    class="form-control" value=""></div>
                            <div class="col-md-6"><label class="labels">Sexo</label><input type="text"
                                    class="form-control" value=""></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-dark profile-button"
                                type="button">Guardar
                                perfil</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
