<!--<app-navbar-dashboard></app-navbar-dashboard>
<app-sedebar-dashboard></app-sedebar-dashboard>
<router-outlet></router-outlet> -->
<body>
    <div class="d-flex" id="wrapper">
        <app-sedebar-dashboard></app-sedebar-dashboard>
    <div id="page-content-wrapper">
        <app-navbar-dashboard></app-navbar-dashboard>
    <div id="content">
        <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</body>
  