:root {
    --main-bg-color: #14746f;
    --main-text-color: #14746f;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  body {
    overflow: hidden;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #006466,
      #065a60,
      #0b525b,
      #144552,
      #1b3a4b
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  .border-bottom {
    border-bottom: 0px solid #dee2e6 !important;
  }
  
  .container {
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
  #content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
  }
  
  #intro {
    margin-top: 58px;
  }
  
  @media (max-width: 991px) {
    #intro {
      margin-top: 45px;
    }
  }
  
  #intro {
    margin-top: 58px;
  }
  
  @media (max-width: 991px) {
    #intro {
      margin-top: 45px;
    }
  }
  
  #entrada {
    background-image: url("/assets/image/descarga.png");
    height: 100vh;
  }
  
  @media (min-width: 992px) {
    #entrada {
      margin-top: -58.59px;
    }
  }
  
  #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 58px;
  }
  
  @media (max-width: 991px) {
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 45px;
    }
  }
  
  #intro {
    margin-top: 58px;
  }
  
  @media (max-width: 91px) {
    #intro {
      margin-top: 45px;
    }
  }
  