<div id="content">
    <div class="p-2 pt-4">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Los mejores blogs de arte</h1>
                <p class="lead my-3">Este portal es muy popular por su cuidada selección de
                    imágenes y por seleccionar contenidos donde lo no bello no tiene cabida en
                    los campos de la arquitectura, las artes plásticas, el diseño, los viajes y
                    el estilo de vida. Sin duda lo mejor son sus fotografías, puro deleite visual
                    para los cazadores de imágenes atractivas</p>
                <p class="lead mb-0">
                    <a href="#" class="text-white fw-bold">Sigue leyendo...</a>
                </p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-12">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Galeria de Arte
                </h3>
                <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/assets/image/composing-2391033_1920.jpg" alt="">

                            <div class="card-body">
                                <h5 class="card-title">Illustration From Lofoten II , 2000</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver
                                            mas</button>
                                        <button type="button"
                                            class="btn btn-sm btn-outline-secondary">Editar</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/assets/image/30000497302_85dab5270c_c.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Troldskab, 1892</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver
                                            mas</button>
                                        <button type="button"
                                            class="btn btn-sm btn-outline-secondary">Editar</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/assets/image/30000542752_3edc900220_c.jpg" alt="">

                            <div class="card-body">
                                <h5 class="card-title">The Ash Lad and the Dragon, 1900</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver
                                            mas</button>
                                        <button type="button"
                                            class="btn btn-sm btn-outline-secondary">Editar</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/assets/image/30000594762_4c15003c24_c.jpg" alt="">

                            <div class="card-body">
                                <h5 class="card-title">Far away Soria Moria Palace shimmered like Gold, 1900
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver
                                            mas</button>
                                        <button type="button"
                                            class="btn btn-sm btn-outline-secondary">Editar</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/assets/image/30080346126_3eb46d811e_c.jpg" alt="">

                            <div class="card-body">
                                <h5 class="card-title">Princess Collecting Cotton</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver
                                            mas</button>
                                        <button type="button"
                                            class="btn btn-sm btn-outline-secondary">Editar</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/assets/image/30080354556_07786d1fcd_c.jpg" alt="">

                            <div class="card-body">
                                <h5 class="card-title">Postkort</h5>
                                <p class="card-text">This is a wider card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver
                                            mas</button>
                                        <button type="button"
                                            class="btn btn-sm btn-outline-secondary">Editar</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>