<div id="content">
    <header>
      <div class="bg-image" style="background-image: url('/assets/image/Sunrise_on_the_Matterhorn_MET_DT218107\ .jpg');
          height: 50vh;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white text-center">
            <h1 class="mb-3">Las mejores elecciones de hoy</h1>
            <h5 class="mb-4">Arte & Cultura</h5>
            <a class="btn btn-outline-light btn-lg m-2" href="#" role="button">Examinar obras</a>
            <a class="btn btn-outline-light btn-lg m-2" href="#" role="button">Explorar coleccion</a>
          </div>
        </div>
      </div>
    </header>
    <main class="mt-5">
      <div class="container">
        <section>
          <div class="row">
            <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="/assets/image/Albert_Bierstadt,_Among_the_Sierra_Nevada_Mountains.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
            <div class="col-md-6 gx-5 mb-4">
              <h4><strong>Among the Sierra Nevada, California
                  Albert Bierstadt1868</strong></h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
              </p>
              <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                alias, unde optio accusantium soluta, iusto molestiae adipisci et?
              </p>
            </div>
          </div>
        </section>
        <hr class="my-5" />
        <section class="text-center">
          <h4 class="mb-5"><strong>El tema de hoy: Renacimiento</strong></h4>
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="/assets/image/monalisa.png" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Leonardo da Vinci: Mona Lisa o Gioconda, 1503-1506</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-dark">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="/assets/image/escuela.png" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"> La Escuela de Atenas, de Rafael Sanzio (1510-1511)
                  </h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-dark">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="/assets/image/desendimiento.png" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Rogier van der Weyden: El descendimiento de la cruz</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-dark">Leer mas</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>