<div id="content">
    <header>
        <div id="intro" class="p-5 text-center bg-light">
            <h1 class="mb-0 h4">Publicaciones de usuarios</h1>
        </div>
    </header>
    <main class="mt-4 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-4">
                    <section class="border-bottom mb-4">
                        <img src="/assets/image/winter.png" class="img-fluid shadow-2-strong rounded-1 mb-4"
                            alt="" />
                        <div class="row align-items-center mb-4">
                            <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                                <img src="/assets/image/img (23).jpg" class="rounded-1 shadow-1-strong me-2"
                                    height="35" alt="" loading="lazy" />
                                <span> Publicado <u>15.07.2020</u> por</span>
                                <a href="" class="text-dark">Anna</a>
                            </div>
                            <div class="col-lg-6 text-center text-lg-end">
                                <button type="button" class="btn btn-primary px-3 me-1"
                                    style="background-color: #3b5998;">
                                    <i class="fab fa-facebook-f"></i>
                                </button>
                                <button type="button" class="btn btn-primary px-3 me-1"
                                    style="background-color: #55acee;">
                                    <i class="fab fa-twitter"></i>
                                </button>
                                <button type="button" class="btn btn-primary px-3 me-1"
                                    style="background-color: #0082ca;">
                                    <i class="fab fa-linkedin"></i>
                                </button>
                                <button type="button" class="btn btn-primary px-3 me-1">
                                    <i class="fas fa-comments"></i>
                                </button>
                            </div>
                        </div>
                    </section>
                    <section>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente
                            molestias
                            consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
                            ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem
                            ipsum,
                            dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
                            consectetur.
                            Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam
                            molestiae
                            magni velit laborum itaque minima doloribus eligendi!
                        </p>

                        <p><strong>Optio sapiente molestias consectetur?</strong></p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum architecto ex ab
                            aut
                            tempora officia libero praesentium, sint id magnam eius natus unde blanditiis.
                            Autem
                            adipisci totam sit consequuntur eligendi.
                        </p>

                        <p class="note note-light">
                            <strong>Nota:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
                            adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero
                            repellat
                            molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
                            possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
                        </p>

                        <img src="/assets/image/Albert_Bierstadt_-_Study_for_The_Last_of_the_Buffalo.jpg"
                            class="img-fluid shadow-1-strong rounded-1 mb-4" alt="" />

                        <ul>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                            <li>Sit</li>
                            <li>Amet</li>
                        </ul>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, temporibus nulla
                            voluptatibus accusantium sapiente doloremque. Doloribus ratione laboriosam
                            culpa. Ab
                            officiis quidem, debitis nostrum in accusantium dolore veritatis eius est?
                        </p>
                    </section>
                    <section class="text-center border-top:1px border-bottom py-4 mb-4">
                        <p><strong>Compartir con tus amigos:</strong></p>

                        <button type="button" class="btn btn-primary me-1"
                            style="background-color: #3b5998;">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1"
                            style="background-color: #55acee;">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1"
                            style="background-color: #0082ca;">
                            <i class="fab fa-linkedin"></i>
                        </button>
                        <button type="button" class="btn btn-primary me-1">
                            <i class="fas fa-comments me-2"></i>Agregar comentario
                        </button>
                    </section>
                    <section class="border-bottom mb-4 pb-4">
                        <div class="row">
                            <div class="col-3">
                                <img src="/assets/image/img (23).jpg"
                                    class="img-fluid shadow-1-strong rounded-1" alt="" />
                            </div>

                            <div class="col-9">
                                <p class="mb-2"><strong>Anna Maria Doe</strong></p>
                                <a href="#" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                                <a href="#" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                                <a href="#" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est
                                    ab
                                    iure
                                    inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur
                                    aut?
                                    Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="border-bottom mb-3">
                        <p class="text-center"><strong>Comentarios: 3</strong></p>
                        <div class="row mb-4">
                            <div class="col-2">
                                <img src="/assets/image/img (24).jpg"
                                    class="img-fluid shadow-1-strong rounded-1" alt="" />
                            </div>
                            <div class="col-10">
                                <p class="mb-2"><strong>Marta Dolores</strong></p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est
                                    ab
                                    iure
                                    inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur
                                    aut?
                                    Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                                </p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <img src="/assets/image/img (25).jpg"
                                    class="img-fluid shadow-1-strong rounded-1" alt="" />
                            </div>
                            <div class="col-10">
                                <p class="mb-2"><strong>Valeria Groove</strong></p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est
                                    ab
                                    iure
                                    inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur
                                    aut?
                                    Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                                </p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-2">
                                <img src="/assets/image/img (26).jpg"
                                    class="img-fluid shadow-1-strong rounded-1" alt="" />
                            </div>
                            <div class="col-10">
                                <p class="mb-2"><strong>Antonia Velez</strong></p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est
                                    ab
                                    iure
                                    inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur
                                    aut?
                                    Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                                </p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <p class="text-center"><strong>Deja una respuesta</strong></p>
                        <form>

                            <div class="form-outline mb-4">
                                <input type="text" id="form4Example1" class="form-control" />
                                <label class="form-label" for="form4Example1">Nombre</label>
                            </div>


                            <div class="form-outline mb-4">
                                <input type="email" id="form4Example2" class="form-control" />
                                <label class="form-label" for="form4Example2">Dirección de correo
                                    electrónico</label>
                            </div>

                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                                <label class="form-label" for="form4Example3">Texto</label>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value=""
                                    id="form4Example4" checked />
                                <label class="form-check-label" for="form4Example4">
                                    Envíar una copia de este comentario.
                                </label>
                            </div>

                            <button type="submit" class="btn btn-dark btn-block mb-4">
                                Publicar
                            </button>
                        </form>
                    </section>
                </div>
                <div class="col-md-4 mb-4">
                    <section class="sticky-top" style="top: 80px;">
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img src="/assets/image/Айвазовский_(Гайвазовский)_Иван_(Оганес)_Константинович_Радуга.jpg"
                                    class="img-fluid" />
                                <a href="#" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);">
                                    </div>
                                </a>
                            </div>
                            <h5>The Rainbow, Ivan Aivazovsky</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis nulla
                                quod
                                temporibus quam at nihil excepturi molestiae, quasi totam quae cumque
                                tenetur
                                explicabo asperiores ducimus deleniti a sapiente ipsam!
                            </p>
                            <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                                    class="fas fa-download ms-2"></i></a>
                        </section>
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img src="/assets/image/Gustave_Courbet_-_Deer_Running_in_the_Snow_-_Google_Art_Project.jpg"
                                    class="img-fluid" />
                                <a href="#" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);">
                                    </div>
                                </a>
                            </div>
                            <h5>Gustave Courbet: Deer Running in the Snow</h5>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                                accusantium
                                ipsa recusandae ipsam quo delectus laudantium itaque nisi, obcaecati, aut,
                                cupiditate eius saepe quos ducimus magni? Dignissimos tempore quas
                                accusantium.
                            </p>
                            <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                                    class="fas fa-download ms-2"></i></a>
                        </section>
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img src="/assets/image/Fox_In_The_Snow_-_Courbet_(1860).jpg"
                                    class="img-fluid" />
                                <a href="#" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);">
                                    </div>
                                </a>
                            </div>
                            <h5>Fox in the Snow
                                Gustave Courbet 1860</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nihil
                                quas
                                facilis blanditiis magni quidem ratione voluptatum nesciunt natus possimus,
                                odit
                                dolores nulla ea, corporis voluptas, reprehenderit similique suscipit
                                inventore!
                            </p>
                            <a role="button" class="btn btn-dark" href="#">Descárgalo gratisS<i
                                    class="fas fa-download ms-2"></i></a>
                        </section>
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img src="/assets/image/Edvard-Munch-The-Scream.jpg" class="img-fluid" />
                                <a href="#" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);">
                                    </div>
                                </a>
                            </div>
                            <h5>Edvard-Munch The Scream</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eius
                                deserunt
                                cumque ducimus vitae consequuntur ut quis ab. Voluptatibus cum nesciunt
                                optio
                                esse laudantium vero laboriosam quibusdam a eos illo.
                            </p>
                            <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                                    class="fas fa-download ms-2"></i></a>
                        </section>
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img src="/assets/image/Jo,_the_Beautiful_Irish_Girl,_1866,_by_Gustave_Courbet._Nationalmuseum,_Stockholm,_Sweden.jpg"
                                    class="img-fluid" />
                                <a href="#" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);">
                                    </div>
                                </a>
                            </div>
                            <h5>The Beautiful Irish Girl - Gustave Courbet 1866</h5>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tempora nam
                                tenetur sequi omnis fuga laborum animi asperiores, consequuntur eaque modi
                                possimus explicabo. Facere reiciendis quidem reprehenderit corporis, atque
                                tempora!
                            </p>
                            <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                                    class="fas fa-download ms-2"></i></a>
                        </section>
                        <section class="text-center border-bottom pb-4 mb-4">
                            <div class="bg-image hover-overlay ripple mb-4">
                                <img src="/assets/image/The Death of Lara (Main View) Eugène Delacroix.png"
                                    class="img-fluid" />
                                <a href="#" target="_blank">
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);">
                                    </div>
                                </a>
                            </div>
                            <h5>The Death of Lara (Main View) Eugène Delacroix</h5>

                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem cupiditate
                                excepturi, deserunt, reiciendis unde molestias voluptatibus sit voluptatem
                                eius
                                facilis qui eligendi, quasi rerum quos quas iure illo quidem minima?
                            </p>
                            <a role="button" class="btn btn-dark" href="#">Descárgalo gratis<i
                                    class="fas fa-download ms-2"></i></a>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </main>
</div>