<div class="bg-dark" id="sidebar-wrapper">
  <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
    <i class="fas fas fa-dragon me-2"></i>Art World
  </div>
  <div class="list-group list-group-flush my-3">
    <a routerLink="/dashboard/publications/inicio" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fas fa-house-user me-2"></i>Inicio</a>
    <a routerLink="/dashboard/publications/noticias"
      class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fa-newspaper me-2"></i>Noticias</a>
    <a routerLink="/dashboard/publications/galeria" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fa-images me-2"></i>Galeria</a>
    <a routerLink="/dashboard/publications/publicaciones"
      class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fa-edit"></i>
      Publicaciones</a>
    <a routerLink="/dashboard/publications/coleccion"
      class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fa-book-open me-2"></i>Coleccion</a>
    <a routerLink="/dashboard/publications/recomendaciones"
      class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fas fa-paperclip me-2"></i>Recomendaciones</a>
    <a routerLink="/dashboard/publications/catalogo"
      class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fa-layer-group"></i>
      Catalogo</a>
    <a routerLink="/dashboard/publications/edit_informacion"
      class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
      <i class="fas fas fa-pen me-2"></i>Editar Informacion</a>
    <a href="/index.html" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
      <i class="fas fa-power-off me-2"></i>Cerrar Sesion</a>
  </div>
</div>